<% provide(:title, 'Home')%>


<section>
  <section class="pull-right">
    <%= link_to(image_tag('Publ1.png',  size: '400x100'), 'http://www.linkedin.com/groups/For-Better-Service-Community-4609806?gid=4609806&trk=hb_side_g' )%>

  </section>
<div class= "bordered" >
  <div class="span5 " >
  <div class="hero-unit  center"  >
    <!--<h1>Tripod Metrics</h1>   -->
    <h2>

      <b></b>
      <b>¿Es tu primera vez?</b>
      <b></b>
    </h2>
    <%=   link_to "¡Regístrate!", new_path , class: "btn btn-large btn-primary" %>
  </div>

    <div class="hero-unit center" >
      <%= form_for(:login, url: logins_path) do |f| %>

          <%=  f.label :email %>
          <%=  f.text_field :email %>
          <%= f.label :password %>
          <%=  f.password_field :password %>

          <%= f.submit "Ingresar",class: "btn btn-medium btn-success" %>
      <% end %>

    </div>
  </div>

    </div>
 </section>



