<div class= "row">
  <div class="span5 offset2">
    <div class="hero-unit pull-right">
      <%= form_for(:login, url: logins_path) do |f| %>

          <%=  f.label :email %>
          <%=  f.text_field :email %>
          <%= f.label :password %>
          <%=  f.password_field :password %>

          <%= f.submit "Ingresar",class: "btn btn-medium btn-success" %>
      <% end %>

    </div>
  </div>
</div>
